[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "civ"]
	path = civ
	url = https://github.com/thomaswiemann/civ
[submodule "ddml"]
	path = ddml
	url = https://github.com/thomaswiemann/ddml
[submodule "kcmeans"]
	path = kcmeans
	url = https://github.com/thomaswiemann/kcmeans
